* {
  box-sizing: border-box;
}

body {
  font-family: futura;
}

header {
  border: 2px solid;
  box-shadow: 0px 0px 10px 0px lightgrey;
}

h1 {
  text-align: center;
}

article {
  border: 2px solid;
  border-radius: 10px;
  margin: 20px 20px 20px 20px;
  text-align: center;
  position: relative;
}

button {
  padding: 10px 15px 10px 15px;
  background-color: transparent;
}

button:hover {
  background-color: lightgrey;
}

ul {
  display: flex;
  gap: 5px;
  margin-top: 30px;
  margin-left: -30px;
  margin-bottom: 10px;
}

li {
  border: 1px solid;
  border-radius: 5px;
  padding: 2px 5px 2px 5px;
  text-decoration: none;
  display: flex;
  background-color: lightgrey;
}

a {
  color: black;
  font-size: 12px;
}

footer {
  background-color: white;
  border: 2px solid;
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  gap: 80px;
  flex-wrap: wrap;
  padding: 5px;
  box-shadow: 0px 0px 5px 0px lightgrey;
}

footer > span:hover {
  background-color: lightgrey;
}

body {
  padding: 0;
  margin: 0;
}

main {
  border: 0px solid;
  margin-top: 30px;
}

.bookmark {
  position: absolute;
  right: 10px;
  top: -10px;
}
